.container {
  padding: 0;
}

.error {
  color: red;
  font-size: 14pt;
}

mat-card.sql {
  margin: 8px;
}

.further-query {
  font-size: 18pt;
  pre {
    margin-left: 16px;
  }
}

.tede {
  display: flex;
  flex-direction: column;
  width: 77%;

  div.cov-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 64px;
    mat-card.covariates {
      max-width: 500px;
    }
  }
}

.tede-chart-cards {
  display: flex;
  flex-direction: row;
}


.query-chart-row {
  display: flex;
  flex-direction: row;
  h1 {
    font-size: 14pt;
  }

  mat-card.query-card {
    margin: 8px;
    min-width: 33%;
    padding: 8px;
    h1 {
      margin: 16px;
    }
  }
  
  div.chart-cards {
    max-width: 100%;
    mat-card {
      width: 100%;
    }
  }
}

div.datatable-cards {
  display: flex;
  flex-direction: row;
  hyp-coarse-grained {
    min-width: 30%;
  }
  // hyp-fine-grained {
  //   width: 100%;
  // }
}

div.graph {
  h2 {
    margin-left: 16px;
  }
}
