.container {
  padding: 16px;
}

.error {
  color: red;
  font-size: 16pt;
}

div.chart-cards {
  display: flex;
  flex-direction: row;
  mat-card {
    max-width: 50%;
  }
}

mat-card.sql {
  margin: 16px;
  pre.sql {
    font-size: 14pt;
  }
}
