[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
falcon = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
"psycopg2" = "*"
numpy-indexed = "*"
numba = "*"
"rpy2" = "*"

[dev-packages]

[requires]
python_version = "3.7"
