mat-card {
    margin: 8px;
    padding: 0;
    padding-bottom: 16px;
    overflow: auto;
}

div.chart {
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    font-size: 18pt !important;
}

ngx-charts-bar-vertical, ngx-charts-bar-vertical-2d, h2 {
    margin: 32px;
}
  