mat-card {
  margin: 16px;
  padding: 0;
  padding-bottom: 16px;
  overflow: auto;
  display: flex;
  flex-direction: row;
}

div.chart-div {
  display: flex;
}

ngx-charts-bar-vertical, ngx-charts-bar-vertical-2d {
  margin: 32px;
}
